<!--A Design by Isource
Author: isource
Author URL: http://isource.vn
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title> Home Shoppe Website Template | Home :: Isource</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--bootstrap css-->
    <link href="~/assets/client/css/bootstrap.css" rel="stylesheet" />

    <!--fontawesome-->
    <link href="~/assets/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    @*<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">*@

    <!--Bootstrap-social-->
    <link href="~/assets/client/css/bootstrap-social.css" rel="stylesheet" />

    <link href="~/assets/client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/assets/client/css/slider.css" rel="stylesheet" type="text/css" media="all" />

    <!--jquery-->
    <script src="~/assets/client/js/jquery-3.6.0.min.js"></script>

    <!--bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="~/assets/client/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/assets/client/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/assets/client/js/move-top.js"></script>
    <script type="text/javascript" src="~/assets/client/js/easing.js"></script>
    <script type="text/javascript" src="~/assets/client/js/startstop-slider.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="headertop_desc">
                @{Html.RenderAction("TopMenu", "Home"); }
            </div>
            <div class="header_top">
                <div class="logo">
                    <a href="/" ref="nofollow"><img src="~/assets/client/images/logo.png" alt="" /></a>
                </div>
                @{ Html.RenderAction("HeaderCart", "Home"); }
                <script type="text/javascript">function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});</script>
                <div class="clear"></div>
            </div>
            <div class="header_bottom">
                @{Html.RenderAction("MainMenu", "Home"); }
                <div class="search_box">
                    <form>
                        <input type="text" value="Search Product" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                    </form>
                </div>
                <div class="clear"></div>
            </div>
            @RenderSection("slide", required: false)
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        @{ Html.RenderAction("Footer", "Home"); }
    </div>
    <script type="text/javascript">$(document).ready(function() {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    @RenderSection("jsFooter", required: false)
</body>
</html>

