
@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header {
    <h2>Admin Home</h2>
    <a href="/Admin/User" class="btn btn-outline-primary">User Management</a>
    <a href="/Admin/Content/Create" class="btn btn-outline-primary">Content Management</a>
}

