
@{
    ViewBag.Title = "Form";
}

<form action="/Student/Form" method="post">
    <div>Id</div> <input name="Id" />
    <div>Name</div> <input name="Name" />
    <div>Marks</div> <input name="Marks" />
    <hr />
    <input type="submit" value="Register" />
    <hr />
</form>

<h1>@ViewBag.Message</h1>

