
@{
    ViewBag.Title = "QueryString";
}

<a href="/Student/QueryString?Id=SV01&Name=Tuan&Marks=7">Tuan</a>
<hr />
<a href="/Student/QueryString?Id=SV02&Name=Phuong&Marks=8">Phuong</a>

<h1>@ViewBag.Message</h1>