
@{
    ViewBag.Title = "UseArfument";
}

<h2>UseArfument</h2>

<form action="/Student/UseArgument" method="post">
    <input name="Id" />
    <input name="Name" />
    <input name="Marks" />
    <input type="submit" value="Register" />
</form>

<h1>@ViewBag.Message</h1>