
@{
    ViewBag.Title = "Index";
}

<h2>Send Mail</h2>

<form action="/Mail/Send">

    <p>From:</p>
    <input name="From" />
    
    <p>To:</p>
    <input name="To" />
    
    <p>Subject:</p>
    <input name="Subject" />
    
    <p>Body:</p>
    <textarea name="Body"></textarea>
    <br />
    <input type="submit" value="Send" />
</form>

<script>
    
</script>


